:root {
    --gradient: linear-gradient(to left top, #395B64 10%, #4FBDBA 90%);
}

body {
    font-size: 1.25rem;
    background: #111;
    color: rgba(250, 250, 250, 0.8);
}

a {
    color: rgba(250, 250, 250, 0.8);
}

hr {
    border: 1px solid #ECC19C;
}



.bg-mynav {
    background: var(--gradient);
}

.nav-list {
    border-bottom: 1px solid #ECC19C;
    -webkit-text-fill-color: #000;
}

.nav-list:hover, .nav-list:focus {
    border-bottom: 1px solid #4ECCA3;
}

.container {
    background: #323232;
    border: 1px solid #ECC19C;
}

.card {
    background: #323232;
    border: 1px solid #ECC19C;
    margin-bottom: 2rem;
}

.card-title {
    -webkit-text-fill-color: #4ECCA3 !important;
}

.dropdown-btn {
    background: none;
    border: none;
    border-bottom: 1px solid #ECC19C;
    -webkit-text-fill-color: #000;
}

.dropdown-btn:hover,  .dropdown-btn:focus {
    background: none;
    border-bottom: 1px solid #4ECCA3;
}

.dropdown-menu {
    background: var(--gradient);
    -webkit-text-fill-color: #000;
}

.dropdown-list {
    display: flex;
    border-left: 5px solid #ECC19C;
}

.dropdown-list:hover, .dropdown-list:focus {
    background: none;
    border-left: 5px solid #4ECCA3;
    -webkit-text-fill-color: #000;
}

.phase-title {
    color: #ECC19C;
    text-align:center;
}