<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site icon -->
    <link rel="icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/764bbd9c-6d80-481d-8136-96848f01e843/ddx6pwa-f554b1c7-858f-4485-9551-665264d772c3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2NGJiZDljLTZkODAtNDgxZC04MTM2LTk2ODQ4ZjAxZTg0M1wvZGR4NnB3YS1mNTU0YjFjNy04NThmLTQ0ODUtOTU1MS02NjUyNjRkNzcyYzMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BigyQGYIiZ0n2WWlQr4jfvzVR6g-Vgs1m9U1IJmY1z0" type="image/icon type">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet" >
    <link href="{{ url_for('static', filename='/css/index.css') }}" rel="stylesheet">

    <!-- Title -->
    <title>{% block title %}{%endblock %}</title>
  </head>
    
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-mynav">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand text-uppercase"><b>Colisee S3</b></a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Link -->
            <li class="nav-item nav-list mx-2">
              <a class="nav-link" href="/ranking">Classement</a>
            </li>
            <li class="nav-item nav-list mx-2">
              <a class="nav-link" href="/teams_details">Equipes</a>
            </li>
            <li class="nav-item nav-list mx-2">
              <a class="nav-link" href="/planning">Planning</a>
            </li>
            <div class="btn-group mx-2" role="group">
              <button type="button" class="dropdown-btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Statistiques</button>
              <ul id="team-name-list" class="dropdown-menu">
                <!-- Load Teams name -->
              </ul>
            </div>
          </ul>
          <!-- Icons -->
          <ul class="navbar-nav d-flex flex-row me-1" style="-webkit-text-fill-color:black;">
            <li class="nav-item mx-2">
              <a class="nav-link bi-person-circle" href="/login"></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link bi-power" href="/logged_out"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <script>var user_rank = '{{ user_rank }}';</script>

    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='/scripts/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
