{% extends "index.html" %}
{% block title %}Colisee S3 - Equipes{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='/css/planning.css') }}" rel="stylesheet">

<div class="container mt-5 p-2">
  <h1 class="text-uppercase phase-title">Phase de groupe</h1>
</div>

<div id="carouselSchedule" class="carousel slide m-5" data-interval="false">
  <div class="mx-5">
    <div class="mx-5">
      <div id="carouselScheduleIndicator" class="carousel-indicators">
        <!-- Load indicators -->
      </div>
      <div id="group-schedule" class="carousel-inner p-5" data-interval="false">
        <!-- Load matches -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselSchedule" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselSchedule" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="{{ url_for('static', filename='/scripts/planning.js') }}"></script>

{% endblock %}
