{% extends "index.html" %}
{% block title %}Colisee S3 - Classement{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='/css/ranking.css') }}" rel="stylesheet">

<div class="container mt-5 p-2">
  <h1 class="text-uppercase phase-title">Règlement</h1>
</div>

<!-- TITRE 1 -->
<div class="container mt-5 p-5">
  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight league-name"><h2>Titre 1</h2></div>
  </div>
  <div>Blabla bla
      l,edfze
      zefzefz
      zefzefzego,
      ogll,
      o,fe
      op,;edpfe;
  </div>
  <div>Blabla bla
    l,edfze
    zefzefz
    zefzefzego,
    ogll,
    o,fe
    op,;edpfe;
  </div>
  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight league-name"><h2>Titre 2</h2></div>
  </div>
  <div>Blabla bla
    l,edfze
    zefzefz
    zefzefzego,
    ogll,
    o,fe
    op,;edpfe;
  </div>
</div>

{% endblock %}
